html{
	scroll-behavior: smooth
}

.avatar {
  position: relative;
  top: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
  border:2px solid black;
  border-radius: 50%;
}

/*
*{margin:0; padding:0; font-family:arial;}
*/
section{min-width:100vw; min-height:100vh; width:100%; height:100%;}

.navstyle{min-width:100vw; width:auto; position:fixed !important;}

.navbar-brand{padding:122}
/*
body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;
  
  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
/*}*/

#pageA{background:#FFE0E0;}
#pageB{background:#FFC7C7;}
#pageC{background:#FF9E9E;}
#pageD{background:#FF6E6E;}
#pageE{background:#FF5252;}

h1{color:#fff; text-align:center; padding-top:10vh;}
