html{
  scroll-behavior: smooth;
  background:rgb(37, 37, 37);
}

.myIcon{
  padding: 2%;
}


.avatar {
  position: relative;
  top: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  height: auto;
  border:2px solid black;
  border-radius: 50%;
}
section{min-width:100vw; min-height:100vh; width:100%; height:100%;}

.navstyle{
  min-width:100vw; 
  width:auto; 
  position:fixed !important; 
  z-index:10; 
  background:rgb(37, 37, 37) !important;
}

.my-nav-item:hover{
  background:rgb(177, 226, 255);
  border-radius: 10%;
}

.nav-link{
  color:rgb(93, 190, 214);
}

.nav-links:hover{
  color:#FFFFFF;
}

.active{
  background:rgb(62, 166, 185)!important;
}

.navbar-brand{padding:122}
/*
body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;
  
  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
/*}*/

#pageA{background:rgb(200, 230, 255);}
#pageB{background:rgb(180, 210, 255);}
#pageC{background:rgb(160, 190, 255);}
#pageD{background:rgb(140, 170, 255);}
#pageE{background:rgb(120, 150, 255);}
#pageF{background:rgb(100, 130, 255);}
#pageG{background:rgb(80, 110, 240);}



h1{
  color:#fff; 
  text-align:center; 
  padding-top:30vh;
}

h5{
  color:rgb(93, 190, 214);
}

.my-footer{
  background:rgb(37, 37, 37);
  border:2px solid rgb(37, 37, 37);
}

.my-footer-head{
  background: black;
}

.my-card{
  color:rgb(93, 190, 214);
}


.card-black{
  border: 4px rgb(37, 37, 37)
}