html{
  scroll-behavior: smooth;
  background:rgb(37, 37, 37);
}

.myIcon{
  padding: 2%;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border:2px solid black;
  border-radius: 50%;
}

section{min-width:100vw; min-height:100vh; width:100%; height:100%; }

.horizontal{
  position: relative;
  float:left !important;
  margin: 0%;
}

.half{
  width: 46%;
  margin: 2%;
}

.iconNav{
  list-style-type: none;
  margin: 1%;
  padding: 0;
  overflow: hidden;
}

.navstyle{
  min-width:100vw; 
  width:auto; 
  position:fixed !important; 
  z-index:10; 
  background:rgb(37, 37, 37) !important;
}

.my-nav-item:hover{
  background:rgb(177, 226, 255);
  border-radius: 10%;
}

.nav-link{
  color:rgb(93, 190, 214);
}

.nav-links:hover{
  color:#FFFFFF;
}

.active{
  background:rgb(62, 166, 185)!important;
}

.navbar-brand{padding:122}

.navbar-avoidance{
  text-align: center;
  top:15vh;
  position: relative;
  width:100vw;
  float:center;
}

.cardSection{
  display:inline-block;
  margin:1%;
  width:400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.cardSection:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardImage{
  width:100%;
}

.cardText{
  width:100%;
  padding:2%;
}

#pageA{background:rgb(200, 230, 255);}
#pageB{background:rgb(180, 210, 255);}
#pageC{background:rgb(160, 190, 255);}
#pageD{background:rgb(140, 170, 255);}
#pageE{background:rgb(120, 150, 255);}
#pageF{background:rgb(100, 130, 255);}
#pageG{background:rgb(80, 110, 240);}

p{
  color:rgb(93, 190, 214);
  width:80%;
}

.horizontalMargins{
  margin-left:20%; margin-right:20%
}

h1{
  color:rgb(93, 190, 214);
  text-align:center; 
}

h4{
  color:rgb(93, 190, 214);
}

h5{
  color:rgb(93, 190, 214);
}

.my-footer{
  background:rgb(37, 37, 37);
  border:2px solid rgb(37, 37, 37);
}

.my-footer-head{
  background: black;
}

.my-card{
  color:rgb(93, 190, 214);
}


.card-black{
  border: 4px rgb(37, 37, 37)
}