html{
  scroll-behavior: smooth;
  background:rgb(37, 37, 37);
}

body::-webkit-scrollbar {
  display: none;
}

body{
  -ms-overflow-style: none;
}

.sections{
  width:100vw; 
  min-height:100%; 
}

.myIcon{
  padding: 2%;
}

.list{
  margin-left: auto;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.4);
}

.avatar:hover{
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.4);
}

section{
  text-align: center;
  min-height:100vh;
  width:100vw; 
}

.horizontal{
  position: relative;
  float:left !important;
}

.half{
  width: 50% !important;
  height: 100%;
}

.iconNav{
  list-style-type: none;
  margin: 1%;
  padding: 0;
  overflow: hidden;
}

.navstyle{
  min-width:100vw; 
  width:auto; 
  position:fixed !important; 
  z-index:10; 
  background:rgb(37, 37, 37) !important;
}

.my-nav-item:hover{
  background:rgb(177, 226, 255);
  border-radius: 5%;
}

.my-nav-item{
  margin:2px;
  float: left;
}

.nav-link{
  color:rgb(93, 190, 214);
}

.nav-links:hover{
  color:#0645AD;
}

.dropdown-menu{
  background: rgb(37, 37, 37);
}

.dropdown-toggle.show{
  background-color:rgb(93, 190, 214);
}

.dropdown-item{
  width:95%;
  color: rgb(93, 190, 214);
  margin: 4px;
  margin-bottom: 2px;
}

.dropdown-item:hover{
  background: rgb(177, 226, 255);
  color: #0645AD;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color:rgb(93, 190, 214);
}

.active{
  background:rgb(93, 190, 214) !important;
}

.navbar-brand{padding:122}

.navbar-avoidance{
  text-align: center;
  padding-top:15vh;
  position: relative;
  width:100%;
}

.scrolling-wrapper {
  padding-left: 10px;
  padding-right:10px;
  padding-bottom: 40px;
  margin-bottom:0px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.cardSection{
  display:inline-block;
  margin-top:5px;
  margin-left:10px;
  margin-right:10px;
  padding-bottom: 0px;
  width:320px;
  min-width:300px;
  min-height: 425px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  border-radius: 25px;
  overflow: hidden;
}

.cardSection:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.cardImage{
  width:100%;
  height: 205px;
  background-image: radial-gradient(rgb(255, 0, 0), rgb(0,0,0));
}

.cardText{
  white-space: normal;
  background:rgb(93, 190, 214) !important;
  min-height: 220px;
  max-height: 220px;
  width:100%;
  padding:1.5%;
  text-align: center;
}

.wideCard{
  display:inline-block;

  margin-top:5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 0px;
  min-width: 1600px;
  width :1600px;
  min-height:450px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  border-radius: 25px;
  overflow: hidden;
}

.wideCard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.wideCardGoal{
  display:inline-block;
  width:40%;
  min-height:100%;
  height:450px;
  white-space: normal;
  background:rgb(106, 0, 245);
  padding:1.5%;
  float:left;
  text-align: left;
  box-sizing: border-box;

}

.wideCardReflection{
  display:inline-block;
  width:60%;
  min-height:100%;
  height:450px;
  white-space: normal;
  background:white;
  padding:1.5%;
  float:left;
  text-align: left;
  box-sizing: border-box;
}



#pageA{background:rgb(200, 230, 255);}
#pageB{background:rgb(180, 210, 255);}
#pageC{background:rgb(160, 190, 255);}
#pageD{background:rgb(140, 170, 255);}
#pageE{background:rgb(120, 150, 255);}
#pageF{background:rgb(100, 130, 255);}
#pageG{background:rgb(80, 110, 230);}

p{
  color:rgb(93, 190, 214);
  width:100%;
  float: center;
  font-size: 17.5px;
}

p.cardDescription{
  color: white;
}

p.introText{
  padding-left:10%;
  padding-right:10%;
}

.center{
  color:rgb(93, 190, 214);
  text-align:center; 
}

.brightText{
  color:white !important;
}

h4{
  color:rgb(93, 190, 214);
}

h4.cardTitle{
  color: white;
}

h5{
  color:rgb(93, 190, 214);
  text-decoration: underline;
}

.tab{ text-indent: 40px; }

.my-footer{
  background:rgb(37, 37, 37);
  border:2px solid rgb(37, 37, 37);
}

.my-footer-head{
  background: black;
}

.my-card{
  color:rgb(93, 190, 214);
}


.card-black{
  border: 4px rgb(37, 37, 37)
}

.sectionTextDiv{
  border: 4px solid white;
  display:inline-block;
  width:90%;
  max-width:1200px;
  padding:30px;
}

.sectionText{
  text-align: left;
}

.module {
  -webkit-clip-path:
    polygon(
      0% 20px,                 /* top left */
      20px 0%,                 /* top left */
      calc(100% - 20px) 0%,    /* top right */
      100% 20px,               /* top right */
      100% calc(100% - 20px),  /* bottom right */
      calc(100% - 20px) 100%,  /* bottom right */
      20px 100%,               /* bottom left */
      0 calc(100% - 20px)      /* bottom left */
    );
  clip-path: 
    polygon(
      0% 20px,                 /* top left */
      20px 0%,                 /* top left */
      calc(100% - 20px) 0%,    /* top right */
      100% 20px,               /* top right */
      100% calc(100% - 20px),  /* bottom right */
      calc(100% - 20px) 100%,  /* bottom right */
      20px 100%,               /* bottom left */
      0 calc(100% - 20px)      /* bottom left */
    );
}

.solidColor{
  background:white;
}

.textDivFocus{
  background: rgb(37, 37, 37);
  border: 4px solid rgb(93, 190, 214) !important;
}

.textDivRelax{
  background: rgb(93, 190, 214);
  border: 4px solid  rgb(37, 37, 37)!important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}